<apex:page standardcontroller="TransAm_Application__c" extensions="TransAm_ApplicationMergeFormController">
<apex:form >
<apex:pagemessages ></apex:pagemessages>
    <apex:pageblock title="Application Merge Selection">
    <b>Please select up to 3 applications that you would like to merge</b><br></br><br></br>  
        <apex:pageblocktable value="{!appsWrapperList}" var="Apps">
            <apex:column >
                <apex:inputCheckbox value="{!Apps.selected}" label="Select" id="selectApps"/>
            </apex:column>
            <apex:column value="{!Apps.childApp.Name}"/>
            <apex:column value="{!Apps.childApp.TransAm_First_Name__c}"/>
            <apex:column value="{!Apps.childApp.TransAm_Last_Name__c}"/>        
            <apex:column value="{!Apps.childApp.TransAm_Status__c}"/>
            <apex:column value="{!Apps.childApp.TransAm_Received_Date__c}"/>
            <apex:column value="{!Apps.childApp.TransAm_Score__c}"/>
            <apex:column value="{!Apps.childApp.TransAm_App_Source__c}"/>        
        </apex:pageblocktable>
    </apex:pageblock>
  <apex:commandButton action="{!mergeFieldsPage}" value="Merge Applications"/>  
 </apex:form>    
</apex:page>